:root {
  --darkest-grey: #32302e;
  --dark-grey: #3e3c3a;
  --medium-grey: #75716e;
  --lightest-white: #dfd9d1;
  --light-white: #b0aba3;
  --light-orange: #e3a391;
  --orange: #e37a5c;
  --dark-orange: #a35842;
  --accent: #a6b2e0;
  --light-accent: #bfc5e0;

  --title-font: 'Alegreya SC';
  --paragraph-font: 'Sarabun';
}

body {
  margin: 0;
  background-color: var(--dark-grey);
  color: var(--lightest-white);
  font-family: var(--paragraph-font);
  box-sizing: border-box;
}

h1 {
  font-family: var(--title-font), var(--paragraph-font);
  font-weight: normal;
  color: var(--orange);
  margin-bottom: 8px;
}

h2 {
  margin-top: 40px;
  color: var(--orange);
}

h3 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--light-orange);
}

h3.subheading {
  margin-top: 20px;
}

h4 {
  color: var(--orange);
  font-size: 22px;
  font-family: var(--title-font), serif;
  font-weight: normal;
}

a {
  color: var(--orange);
  text-decoration: none;
}

p,
li {
  color: var(--lightest-white);
  line-height: 1.7;
}

p.caption {
  font-style: italic;
  font-size: 14px;
  margin-top: -14px;
}

main {
  max-width: 575px;
  margin: 0 auto;
  padding: 16px;
}

@media (min-width: 768px) {
  main {
    max-width: 700px;
  }
}

@media (min-width: 1000px) {
  main {
    max-width: 800px;
  }
}

header {
  background-color: var(--lightest-white);
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  height: 60px;
  max-width: 575px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 480px) {
  header .wrapper {
    height: 80px;
  }
}

@media (min-width: 768px) {
  header .wrapper {
    max-width: 700px;
    /* height: 100px; */
  }
}

@media (min-width: 1000px) {
  header .wrapper {
    max-width: 800px;
  }
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo a {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 16px;
}

.logo a svg {
  height: 71%;
}

.logo .line {
  height: 50%;
}

@media (max-width: 768px) {
  .logo .line {
    display: none;
  }
}

.logo .tagline {
  margin-left: 16px;
  color: var(--dark-grey);
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .logo .tagline {
    display: none;
  }
}

nav.desktop {
  text-transform: uppercase;
  padding-bottom: 8px;
}

nav.desktop a {
  margin-left: 32px;
  color: var(--dark-grey);
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 580px) {
  .links {
    display: none;
  }
}

.social-media {
  margin-top: 12px;
}

.social-media svg {
  width: 26px;
  height: 26px;
  font-size: 1.7em;
  fill: var(--orange);
}

nav.mobile {
  position: relative;
  box-sizing: border-box;
  padding: 16px;
  height: 100%;
  display: flex;
  align-items: center;
}

nav.mobile input {
  display: block;
  position: absolute;
  top: -10px;
  left: -8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

nav.mobile input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(4px, -1px);
}

nav.mobile input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(1.5px, 0);
}

nav.mobile input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

nav.mobile input:checked~.menu-wrapper>ul {
  transform: none;
}

nav.mobile svg {
  fill: var(--dark-grey);
  width: 24px;
  height: 24px;
  margin-bottom: -7px;
}

.menu-toggle {
  position: relative;
}

.menu-toggle span.hamburger-line {
  display: block;
  width: 23px;
  height: 3px;
  margin-bottom: 4px;
  position: relative;
  background: var(--dark-grey);
  border-radius: 4px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menu-toggle span.hamburger-line:first-child {
  transform-origin: 0% 0%;
}

.menu-toggle span.hamburger-line::nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menu-wrapper {
  position: absolute;
  overflow: hidden;
  width: 320px;
  top: 40px;
  right: -32px;
  height: 400px;
}

@media (min-width: 480px) {
  .menu-wrapper {
    top: 50px;
  }
}

nav.mobile ul {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0;
  width: 320px;
  background: var(--medium-grey);
  padding: 0;
  z-index: 3;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

nav.mobile li {
  width: 92%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 580px) {
  nav.mobile {
    display: none;
  }
}

nav.mobile li svg {
  color: var(--lightest-white);
  margin-right: 15px;
}

nav.mobile li a {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-transform: uppercase;
  color: var(--lightest-white);
}

nav.mobile li:not(:last-child) {
  border-bottom: 1px solid var(--light-white);
}

.post-item {
  margin-bottom: 30px;
  background-color: var(--darkest-grey);
}

.post-item a {
  display: flex;
  flex-wrap: wrap;
}

.post-item .gatsby-image-wrapper {
  height: 200px;
}

@media (min-width: 480px) {
  .post-item .gatsby-image-wrapper {
    height: 250px;
  }
}

@media (min-width: 768px) {
  .post-item:first-child {
    margin-top: 32px;
  }

  .post-item .gatsby-image-wrapper {
    height: 200px;
    flex: 1;
  }

  .post-item-text {
    flex: 2;
    padding-left: 20px;
  }
}

.post-item-text {
  padding: 8px 16px;
}

.post-item-text h3 {
  font-family: var(--title-font);
  text-transform: initial;
  font-size: 24px;
  color: var(--orange);
  margin-top: 8px;
  margin-bottom: 4px;
  line-height: 1;
}

.post-item-text small {
  color: var(--light-white);
}

.post-item-text p {
  margin-top: 10px;
  line-height: 1.5;
}

/* POST PAGE */

p.post-page-date {
  margin-top: 0;
  margin-bottom: 32px;
  color: #a4a09c;
  font-size: 14px;
}

.note {
  display: flex;
}

.note svg {
  margin: 0;
  margin-top: 5px;
  margin-right: 8px;
}

.note p {
  font-style: italic;
  margin: 0;
}

.banner-note {
  margin-bottom: 48px;
  border: 1px solid var(--medium-grey);
  border-radius: 6px;
  padding: 16px 18px;
  font-style: italic;
  color: var(--light-white);
}

.banner-note p {
  margin: 0;
}

.banner-note ul {
  margin: 10px 0 5px 20px;
  padding: 0;
  list-style-type: none;
}

.gatsby-resp-image-wrapper {
  margin-bottom: 16px;
}

svg.ext-link {
  fill: var(--light-white);
  width: 12px;
  height: 12px;
  margin-left: 2px;
}

svg.important {
  fill: var(--light-white);
  width: 20px;
  height: 20px;
}

svg.check {
  width: 20px;
  height: 20px;
  fill: #54a572;
  margin-right: 10px;
  margin-bottom: -3px;
}

ul.prev-next {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin-bottom: 32px;
}

ul.prev-next li {
  display: inline;
}

ul.prev-next li:first-child {
  padding: 6px 16px 6px 0;
}

ul.prev-next li:last-child {
  padding: 6px 0 6px 16px;
}

a.bottom-home {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 32px;
}

#disqus_thread {
  margin-top: 32px;
}

form label {
  display: block;
}

form label span {
  display: block;
  margin-bottom: 8px;
}

form input {
  border: none;
  border-radius: 3px;
  background-color: #514e4d;
  color: #fff;
  font-family: 'Sarabun';
  padding: 10px;
  margin-bottom: 16px;
  width: 240px;
  font-size: 16px;
}

form textarea {
  background-color: #514e4d;
  display: block;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-family: 'Sarabun';
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 16px;
  height: 160px;
  max-width: 400px;
}

@media (min-width: 475px) {
  form textarea {
    height: 160px;
    width: 400px;
  }
}

form button {
  font-family: 'Sarabun';
  border-radius: 3px;
  border: none;
  padding: 12px 28px;
  text-transform: uppercase;
  background-color: var(--dark-orange);
  color: var(--lightest-white);
  font-weight: bold;
  font-size: 16px;
}

.fa-check {
  margin-right: 16px;
  color: #90aa71;
}

.success-message {
  text-align: center;
  margin: 32px;
}

.back {
  text-align: center;
}